.Hom-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #3e0283;
}
.Link-container{
    margin-bottom: -80px;
    width: auto;
}
.Link-container h1{
    color: #e3e3e3;
    font-size: 3em;
}
.Links{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.Links a{
    border: 2px solid #8338ec;
    width: 120px;
    padding: 10px 20px;
    font-size: 1.3em;
    justify-content: center;
    display: flex;
    color: #c19bf5;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.Home{
    background: #fff;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    width: 100%;
    background: #fff;
}

.content h2 {
	color: #fff;
	font-size: 7em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #8338ec;
}

.content h2:nth-child(2) {
	color: #c19bf5;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}
@media(max-width: 600px){
    .Hom-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .Link-container{
        margin-bottom: -11rem;
        width: auto;
        position: absolute;
    }
    .Link-container h1{
        font-size: 2em;
        text-align: center;
        font-weight: 700;
    }
    .Links{
        margin-top: 10px;
        gap: 15px;
    }
    .Links a{
        width: 80px;
        padding: 10px 20px;
        font-size: 0.8em;
        font-weight: 600;
    }
    .content h2 {
        font-size: 3.4em;
    }  
}